@charset "ISO-8859-1";
/* Show it is fixed to the top */

body {
	background-image: url("https://www.wallpapertip.com/wmimgs/8-85665_high-resolution-white-gradient-background.jpg"); 
 	 
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

}

container {
	width: 90%;
}

hr {
	border: none;
	height: 2px;
	color: #343A40;
	background-color: #343A40;
}

.box {
	border: 1px solid red;
}

img {
	max-height: 100%;
	max-width: 100%;
	display: block;
}

.home-headline {
	font-family: 'Times New Roman', Times, serif;
	font-size: 24px;
	margin: auto;
	color: #fff;
	text-align: center;
	margin-top: 0px;
}

.home-headline span {
	background-color: #343A40;
	padding: 5px 25px;
}
/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
	
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
	width: 100%;
}

.corousel-caption .b {
	top: 500px;
	position: absolute;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus
	{
	color: black;
	background-color: #fcd900;
}

.carousel-item a {
	display: block;
	width: 100%;
}

.login-form {
	width: 340px;
	margin: 50px auto;
}

.login-form form {
	margin-bottom: 15px;
	background: #f7f7f7;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
	border-radius: 15px;
	 font-family: "Audiowide", sans-serif;
}

.login-form h2 {
	margin: 0 0 15px;
}

.form-control, .btn {
	min-height: 40px;
	border-radius: 10px;
}

.btn {
	font-size: 15px;
	font-weight: bold;
	background-color: #555555;
	display: inline-block;
	color: white;
	text-align: center;
}


.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

div {
    font-weight:bold;
}

.login {
  margin:0 auto;
  max-width:500px;
}
.login-header {
  color:#000000;
  text-align:center;
  font-size:300%;
}
 <style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
 tr:nth-child(even) {
  background-color: #f2f2f2;
}
